class Carte:
    def __init__(self, titlu, autor, isbn):
        self.titlu = titlu
        self.autor = autor
        self.isbn = isbn

    def __str__(self):
        return f"{self.titlu} de {self.autor} (ISBN: {self.isbn})"
class Biblioteca:
    def __init__(self):
        self.carti = []
    def adauga_carte(self, carte):
        self.carti.append(carte)
        print(f"Carte adăugată: {carte}")
    def elimina_carte(self, isbn):
        for carte in self.carti:
            if carte.isbn == isbn:
                self.carti.remove(carte)
                print(f"Carte eliminată: {carte}")
                return
        print(f"Carte cu ISBN {isbn} nu a fost găsită.")
    def afiseaza_carti(self):
        if not self.carti:
            print("Nicio carte în bibliotecă.")
        else:
            print("Cărți în bibliotecă:")
            for carte in self.carti:
                print(carte)
if __name__ == "__main__":
    biblioteca = Biblioteca()
    
    carte1 = Carte("Amintiri din copilarie", "M. Eminescu", "978-0-316-58947-7")
    carte2 = Carte("La scaldat", "I. Creanga", "978-0-06-112008-4")
    carte3 = Carte("Proza", "J. Cojbuc", "978-0-06-776536-2")
    carte4 = Carte("la ciresi", "978-0-452-86453-4")
    carte5 = Carte("Poezii", "A. Teodorovici", "978-0-7432-7356-5")

    biblioteca.adauga_carte(carte1)
    biblioteca.adauga_carte(carte2)
    biblioteca.adauga_carte(carte3)
    biblioteca.adauga_carte(carte4)
    biblioteca.adauga_carte(carte5)

    biblioteca.afiseaza_carti()

    biblioteca.elimina_carte("978-0-316-5847-7")
    biblioteca.elimina_carte("978-0-452-86453-4")
    biblioteca.afiseaza_carti()
